@import url(https://db.onlinewebfonts.com/c/55c75572ae1d9f96d61851294e1698ec?family=ALS+Sector+Bold+Bold);
@import url(https://db.onlinewebfonts.com/c/595030bb520f1e2ab2fb4e8d7c5f30a5?family=ALS+Sector+Regular+Regular);

html {
  font-size: 62.5%;
}

body {
  background: #F8FAFA;
  color: #303030;
  font-family: "ALS Sector Regular Regular";
}

header {
  color: #303030;
  background: #fff;
  font-family: "ALS Sector Bold Bold";
  font-size: 2rem;
  box-shadow: 0 8px 16px rgb(238, 241, 243);
}

.header {
  position: relative;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__white {
  background: #fff;
}

section {
    padding: 0;
}

.section {
    padding: 0;
}

.header__logo {
  margin-left: 80px;
  display: block;
  width: 38px;
  height: 46px;
  background-image: url(../img/logo-black.svg);
  background-repeat: no-repeat;

}

.header__nav {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.header__list {
  display: flex;
  list-style-type: none;
  gap: 74px;
  align-self: center;
  text-align: center;

  height: 21px;
  padding-left: 0;
}

.header__link {
  color: #303030;
  text-decoration: none;
}

.header__link__current {
  color: #006CDC;
  text-decoration: underline;
  text-underline-offset: 7px;
}

.header__dropdown {
  margin-right: 80px;
  display: inline-block;
  position: relative;
  color: #006CDC;
  background-color: transparent;
  border: none;
  width: 65px;
  height: 21px;
}

.header__dropdown .-hover::after {
  content: url(../img/arrow.svg);
  display: inline-block;
  width: 5px;
  height: 11px;
  vertical-align: middle;
  position: relative;
  top: -10px;
}

.header__dropdown:hover .-hover::after {
  content: url(../img/arrow-flipped.svg);
  display: inline-block;
  width: 5px;
  height: 11px;
  vertical-align: middle;
  position: relative;
  top: -10px;
}

.header__dropdown .-list {
  display: none;
  box-sizing: border-box;
  position: absolute;
  background: #F8FAFA;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .35);
  padding: 5px;
  gap: 5px;
  top: 100%;
  left: -5px;
  z-index: 10;
}

.header__dropdown:hover .-list {
  display: block;
}

.header__dropdown .-list a {
  background-color: transparent;
  border: none;
  text-decoration: none;
  color: #303030;
}

.info {
  margin-left: 80px;
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.text__nav {
  width: 250px;
  font-size: 1.6rem;
  color: rgba(0, 0, 0, 0.5);
}

.afterHeader {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.afterHeader__wrapper {
  border-radius: 28px;
  width: 336px;
  height: 79px;
  backdrop-filter: blur(100px);
  box-shadow: 0 0 50px 0 rgba(0, 57, 116, 0.05);
  background: rgba(255, 255, 255, 0.8);
}

.toggleButton {
  width: 292px;
  height: 42px;
}

.container {
  margin: 0 auto;
  flex-direction: column;
}

.main {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 37px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.main__image {
  display: flex;
  align-items: center;
  max-width: 512px;
  max-height: 333px;
  flex-basis: calc(100% - 678px - 60px);
}

.main__img {
  width: 100%;
  height: 100%;
}

.main__text {
  min-height: 384px;
  flex-basis: 678px;
}

.container2__main__text {
  min-height: 384px;
  flex-basis: 720px;
}

.main__title {
  font-family: "ALS Sector Bold Bold";
  margin-top: 14px;
  margin-bottom: 0;
  font-size: 5rem;
  line-height: 1;
}

.main__desc {
  max-width: 678px;
  height: 130px;
  margin-top: 26px;
  font-size: 2rem;
  line-height: 1.3;
}

.main__preview {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
  gap: 4px;
  line-height: 1.1;

}

.main__program {
  background-color: transparent;
  border: 1px solid #303030;
  padding: 2px;
  font-size: 16px;
  border-radius: 54px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.main__list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
  gap: 47px;
  margin-top: 38px;
  line-height: 1.1;
}

.main__item {
  font-size: 20px;
}

.main__span {
  font-family: "ALS Sector Bold Bold";
  font-size: 24px;
}

.wrap__subjects {
  background: #fff;
  margin-left: 80px;
  margin-right: 80px;
}

.subjects {
  margin-top: 61px;
  margin-bottom: 64px;
}

.title {
  font-size: 4.8rem;
  margin: 0;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  gap: 20px;
}

.card__item {
  position: relative;
  overflow: hidden;
  background: #F8FAFA;
  border-radius: 20px;
  outline: 1px solid #EEEEEE;
  outline-offset: -1px;
  padding-left: 37px;
  flex-basis: 33%;
  min-height: 366px;
}

.card__header__soc {
  padding-top: 32px;
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 28px;
  height: 30px;
}

.card__header__tech {
  padding-top: 32px;
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 28px;
  height: 30px;
}

.card__header__hum {
  padding-top: 32px;
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 28px;
  height: 30px;
}

.card__list {
  line-height: 1.1;
  padding-bottom: 40px;
  padding-left: 13px;
  padding-right: 35px;
  margin-bottom: 0;
}

.card__list__soc {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card__list__tech {
  font-size: 2rem;
  margin-bottom: 14px;
}

.card__list__hum {
  font-size: 2rem;
  margin-bottom: 8px;
}

.card__img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 25%;
  max-width: 110px;
  min-width: 80px;
}

.programm {
  margin-right: 80px;
  margin-bottom: 59px;
  margin-left: 80px;
  margin-top: 55px;
}

.collapsible {
  background-color: transparent;
  color: #303030;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 24px;
  line-height: 1.3;
  padding: 0;
  margin-bottom: 22px;
}

.plan,
.collapsible:hover {
  background-color: transparent;
}

.collapsible:after {
  content: url(../img/arrow-flipped-gray.svg);
  color: #CCCCCC;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}

.plan:after {
  content: url(../img/arrow-gray.svg);
}

.content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: transparent;
}

.content__list {
  padding: 0;
  list-style-type: none;
}

.content__par {
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 6px;
}

.content__par__last {
  font-size: 20px;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 22px;
}

.content__hr {
  border-color: #cccccc45;
  margin-top: 0;
  margin-bottom: 20px;

}

.programm__list {
  gap: 66px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.programm__list__item {
  flex-basis: 48%;
}

.conditions {
  display: flex;
  justify-content: space-between;
  margin-top: 54px;
  background: #fff;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 61px;
}

.conditions__title {
  margin-top: 0;
  font-size: 4.8rem;
  margin-bottom: 15px;
}

.conditions__paid__text {
  display: inline;
  background-color: #006CDC;
  font-weight: 100;
  color: white;
  font-size: 20px;
  border-radius: 54px;
  padding: 14px 21px 12px 21px;
}

.conditions__stat {
  padding-top: 30px;
}

.conditions__info__title {
  font-size: 20px;
  max-width: 549px;
}

.stat__list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.list__item__stat {
  font-size: 20px;
}

li.list__item__stat:nth-child(2) {
  margin-left: 108px;
}

li.list__item__stat:last-child {
  margin-left: 56px;
}

.score__item {
  color: #006CDC;
  font-weight: 700;
  display: block;
  font-size: 36px;
  margin-bottom: 9px;
}

.conditions__scores {
  margin-top: 51px;
}

.scores__list {
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

.list__item__scores {
  font-size: 20px;
}

li.list__item__scores:nth-child(2) {
  margin-left: 50px;
}

li.list__item__scores:last-child {
  margin-left: 56px;
}

.list__or {
  color: #ACACAC;
}

.conditions__image {

  max-width: 600px;
  max-height: 600px;
  flex-basis: calc(100% - 547px - 60px);
}

.container2__conditions__image {
  max-width: 500px;
  max-height: 300px;
  flex-basis: calc(100% - 509px - 20px);
}

.conditions__img {
  width: 100%;
  height: 100%;
}

.work {
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 60px;
}

.work__info {
  width: 100%;
}

.work__title {
  font-size: 48px;
}

.work__text {
  color: #000;
  font-size: 2rem;
  margin-top: 32px;
  margin-bottom: 56px;
}

.work_company {
  font-size: 2.8rem;
  margin-top: 0;
  margin-bottom: 24px;
}

.company_carousel_wrap {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;  
  overflow: hidden;
  margin-bottom: 70px;
}

.company_carousel {
  padding-left: 21px;
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  gap: 21px;
  animation: animate 25s linear infinite;
}

@keyframes animate {
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {  
      transform: translate3d(-50%, 0, 0);
  }
}
@-webkit-keyframes animate {
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
      transform: translate3d(-50%, 0, 0);
  }
}

.company_layouts {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  width: 200px;
  height: 150px;
  border-radius: 18px;
}


@media(max-width: 1230px) {
  html {
    font-size: 55%;
  }
  .main__image {
    min-width: 26vw;
  }

  .main__title {
    width: 571px;
    font-size: 4.8em;
  }

  .main__desc {
    width: 571px;
  }
}

@media(max-width: 1150px) {
  .header__list {
    gap: 30px;
  }

  .card__header__tech,
  .card__header__hum {
    margin-bottom: 50px;
  }

  .conditions__image {
    min-width: 26vw;
  }
}

@media(max-width: 965px) {
  html {
    font-size: 55%;
  }

  .card {
    flex-direction: column;
  }

  .header__list {
    gap: 30px;
    font-size: 16px;
  }

  .card__img {
    max-width: 15%;
  }

  .card__list__hum,
  .card__list__soc,
  .card__list__tech {
    font-size: 2.5rem;
  }

  .header__dropdown .-hover::after {
    height: 3px;
  }

  .text__nav {
    width: 150px;
    line-height: 1.5;
  }

  li.list__item__stat:nth-child(2) {
    margin-left: 78px;
  }

  li.list__item__scores:nth-child(2) {
    margin-left: 20px;
  }

  li.list__item__scores:last-child,
  li.list__item__stat:last-child {
    margin-left: 26px;
  }
}