{% extends 'sgn2/layout.html' %}
{% load static %}

{% block title %}
Абитуриенту | СГН2
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'sgn2/css/style.css' %}">
<link rel="stylesheet" href="{% static 'sgn2/css/button.css' %}">
<link rel="stylesheet" href="{% static 'sgn2/css/normalize.min.css' %}">
{% endblock %}

{% block applicant_tab %}
active
{% endblock %}

{% block content %}

<div class="info">
    <p class="text__nav">ФСГН > СГН2 > Абитуриенту</p>
    <div class="afterHeader">
        <div class="checkbox__wrapper">
            <div class="custom-checkbox">
                <input id="status" type="checkbox" name="status">
                <label for="status">
                    <div class="status-switch" data-unchecked="Бакалавриат" data-checked="Магистратура"></div>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="container" id="container1" style="display: flex;">
    <section>
        <div class="main">
            <div class="main__text">
                <ul class="main__preview">
                    <li class="main__program">№39.03.01</li>
                </ul>
                <h1 class="main__title">Социология техники и инженерной деятельности</h1>
                <p class="main__desc">Программа направлена на подготовку высококвалифицированных специалистов.
                    Выпускников с этого направления можно назвать специалистами-социологами в предметной области
                    социологии техники и технологий.</p>
                <ul class="main__list">
                    <li class="main__item">
                        <span class="main__span">4 года</span>
                        <br>
                        период обучения
                    </li>
                    <li class="main__item">
                        <span class="main__span">Очная</span>
                        <br>
                        форма обучения
                    </li>
                </ul>
            </div>
            <div class="main__image">
                <img class="main__img" src="{% static 'sgn2/img/concept-of-media.svg' %}">
            </div>
        </div>
    </section>
    <section class="section__white">
        <div class="wrap__subjects">
            <div class="subjects">
                <h1 class="title">Что я буду изучать?</h1>
                <div class="card">
                    <div class="card__item">
                        <h3 class="card__header__soc">Социология</h3>
                        <ul class="card__list">
                            <li class="card__list__soc">Экономическая социология</li>
                            <li class="card__list__soc">Методы прикладной статистики для социологов</li>
                            <li class="card__list__soc">Основы социологии</li>
                            <li class="card__list__soc">История социологии</li>
                            <li class="card__list__soc">Современные социологические теории</li>
                        </ul>
                        <img src="{% static 'sgn2/img/girl.png' %}" alt="" class="card__img">
                    </div>
                    <div class="card__item">
                        <h3 class="card__header__tech">Технический цикл</h3>
                        <ul class="card__list">
                            <li class="card__list__tech">Высшая математика</li>
                            <li class="card__list__tech">Дискретная математика</li>
                            <li class="card__list__tech">Теория вероятностей и математическая статистика</li>
                            <li class="card__list__tech">Информатика и программирование</li>
                        </ul>
                        <img src="{% static 'sgn2/img/gear.png' %}" alt="" class="card__img">
                    </div>
                    <div class="card__item">
                        <h3 class="card__header__hum">Гуманитарный цикл</h3>
                        <ul class="card__list">
                            <li class="card__list__hum">Социология управления</li>
                            <li class="card__list__hum">Социальная психология</li>
                            <li class="card__list__hum">Социальное проектирование и прогнозирование</li>
                            <li class="card__list__hum">Методология и методы социологического исследования</li>
                            <li class="card__list__hum">Логика</li>
                            <li class="card__list__hum">Экономика</li>
                            <li class="card__list__hum">Философия</li>
                        </ul>
                        <img src="{% static 'sgn2/img/book.png' %}" alt="" class="card__img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="programm">
            <h1 class="title">Учебный план</h1>
            <div class="programm__list">
                {% for program in bachelor_programs %}
                {% for semester in program.semesters.all %}
                <div class="programm__list__item">
                    <button class="collapsible">{{ semester.number }} семестр</button>
                    <div class="content">
                        <ul class="content__list">
                            {% for discipline in semester.disciplines.all %}
                            <li class="content__par">• {{ discipline.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr class="content__hr">
                </div>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="section__white">
        <div class="conditions">
            <div class="conditions__text">
                <h1 class="conditions__title">Условия поступления</h1>
                <p class="conditions__paid__text">Платно</p>
                <div class="conditions__stat">
                    <h3 class="conditions__info__title">Статистика за 2023 год</h3>
                    {% for program in bachelor_programs %}
                    {% for statistic in program.statistics.all %}
                    <ul class="stat__list">
                        <li class="list__item__stat">
                            <span class="score__item">{{ statistic.passing_score }}</span> Проходной<br>балл
                        </li>
                        <li class="list__item__stat">
                            <span class="score__item">{{ statistic.average_score }}</span> Средний<br>проходной балл
                        </li>
                        <li class="list__item__stat">
                            <span class="score__item">{{ statistic.budget_places }}</span> Бюджетных<br> мест
                        </li>
                    </ul>
                    {% endfor %}
                    {% endfor %}
                </div>
                <div class="conditions__scores">
                    <h3 class="conditions__info__title">Минимальные баллы ЕГЭ</h3>
                    {% for program in bachelor_programs %}
                    {% for statistic in program.statistics.all %}
                    <ul class="scores__list">
                        <li class="list__item__scores"><span
                                class="score__item">{{ statistic.subject1_min_score }}</span>Обществознание
                        </li>
                        <li class="list__item__scores"><span
                                class="score__item">{{ statistic.subject2_min_score }}</span>Информатика<span
                                class="list__or"><br>или </span>История<span class="list__or"><br>или
                                                </span>Математика
                        </li>
                        <li class="list__item__scores"><span
                                class="score__item">{{ statistic.subject3_min_score }}</span>Русский<br>язык
                        </li>
                    </ul>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="conditions__image">
                <img class="conditions__img" src="{% static 'sgn2/img/boy_horn.svg' %}" alt="">
            </div>
        </div>
    </section>
    <section>
        <div class="work">
            <div class="work__info">
                <h1 class="title">Где я буду работать?</h1>
                <p class="work__text">Выпускники работают в органы государственной и муниципальной власти, в
                    Аналитическом центре при Правительстве РФ, ситуационных и аналитических центрах, силовых
                    структурах, Яндексе, VK, банках и иных структурах.<br><br>
                    Сегодня нет ни одной крупной компании, которая смогла бы обойтись без социологов. Кафедра
                    сотрудничает с ведущими научно-исследовательскими центрами и организациями. </p>
                <h3 class="work_company">Компании, в которых практикуются наши студенты</h3>
            </div>
        </div>
        <div class="company_carousel_wrap">
            <div class="company_carousel">
                {% for company in companies %}
                <div class="company_layouts"><img src="{{ company.logo.url }}" alt="{{ company.name }}"></div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

<div class="container" id="container2" style="display: none;">
    <section>
        <div class="main">
            <div class="container2__main__text">
                <ul class="main__preview">
                    <li class="main__program">№39.04.01</li>
                </ul>
                <h1 class="main__title">Социальный анализ технологических инноваций и рисков</h1>
                <p class="main__desc">Программа направлена на подготовку высококвалифицированных специалистов.
                    Выпускников с этого направления можно назвать специалистами-социологами в предметной области
                    социологии техники и технологий.</p>
                <ul class="main__list">
                    <li class="main__item">
                        <span class="main__span">2 года</span>
                        <br>
                        период обучения
                    </li>
                    <li class="main__item">
                        <span class="main__span">Очная</span>
                        <br>
                        форма обучения
                    </li>
                </ul>
            </div>
            <div class="main__image">
                <img class="main__img" src="{% static 'sgn2/img/book-main.svg' %}">
            </div>
        </div>
    </section>
    <section class="section__white">
        <div class="wrap__subjects">
            <div class="subjects">
                <h1 class="title">Что я буду изучать?</h1>
                <div class="card">
                    <div class="card__item">
                        <h3 class="card__header__soc">Социология</h3>
                        <ul class="card__list">
                            <li class="card__list__soc">Экономическая социология</li>
                            <li class="card__list__soc">Методы прикладной статистики для социологов</li>
                            <li class="card__list__soc">Основы социологии</li>
                            <li class="card__list__soc">История социологии</li>
                            <li class="card__list__soc">Современные социологические теории</li>
                        </ul>
                        <img src="{% static 'sgn2/img/girl.png' %}" alt="" class="card__img">
                    </div>
                    <div class="card__item">
                        <h3 class="card__header__tech">Технический цикл</h3>
                        <ul class="card__list">
                            <li class="card__list__tech">Высшая математика</li>
                            <li class="card__list__tech">Дискретная математика</li>
                            <li class="card__list__tech">Теория вероятностей и математическая статистика</li>
                            <li class="card__list__tech">Информатика и программирование</li>
                        </ul>
                        <img src="{% static 'sgn2/img/gear.png' %}" alt="" class="card__img">
                    </div>
                    <div class="card__item">
                        <h3 class="card__header__hum">Гуманитарный цикл</h3>
                        <ul class="card__list">
                            <li class="card__list__hum">Социология управления</li>
                            <li class="card__list__hum">Социальная психология</li>
                            <li class="card__list__hum">Социальное проектирование и прогнозирование</li>
                            <li class="card__list__hum">Методология и методы социологического исследования</li>
                            <li class="card__list__hum">Логика</li>
                            <li class="card__list__hum">Экономика</li>
                            <li class="card__list__hum">Философия</li>
                        </ul>
                        <img src="{% static 'sgn2/img/book.png' %}" alt="" class="card__img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="programm">
            <h1 class="title">Учебный план</h1>
            {% for program in master_programs %}
            <div class="programm__list">
                {% for semester in program.semesters.all %}
                <div class="programm__list__item">
                    <button class="collapsible">{{ semester.number }} семестр</button>
                    <div class="content">
                        <ul class="content__list">
                            {% for discipline in semester.disciplines.all %}
                            <li class="content__par">• {{ discipline.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <hr class="content__hr">
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </section>

    <section class="section__white">
        <div class="conditions">
            <div class="conditions__text">
                <h1 class="conditions__title">Условия поступления</h1>
                <p class="conditions__paid__text">Платно</p>
                <div class="conditions__stat">
                    <h3 class="conditions__info__title">Статистика за 2023 год</h3>
                    {% for program in master_programs %}
                    {% for statistic in program.statistics.all %}
                    <ul class="stat__list">
                        <li class="list__item__stat">
                            <span class="score__item">{{ statistic.passing_score }}</span> Проходной<br>балл
                        </li>
                        <li class="list__item__stat">
                            <span class="score__item">{{ statistic.budget_places }}</span> Платных<br> мест
                        </li>
                    </ul>
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="container2__conditions__image">
                <img class="conditions__img" src="{% static 'sgn2/img/boy_horn.svg' %}" alt="">
            </div>
        </div>
    </section>
    <section>
        <div class="work">
            <div class="work__info">
                <h1 class="title">Где я буду работать?</h1>
                <p class="work__text">Выпускники работают в органы государственной и муниципальной власти, в
                    Аналитическом центре при Правительстве РФ, ситуационных и аналитических центрах, силовых
                    структурах, Яндексе, VK, банках и иных структурах.<br><br>
                    Сегодня нет ни одной крупной компании, которая смогла бы обойтись без социологов. Кафедра
                    сотрудничает с ведущими научно-исследовательскими центрами и организациями. </p>
                <h3 class="work_company">Компании, в которых практикуются наши студенты</h3>
            </div>
        </div>
        <div class="company_carousel_wrap">
            <div class="company_carousel">
                {% for company in companies %}
                <div class="company_layouts"><img src="{{ company.logo.url }}" alt="{{ company.name }}"></div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
<script src="{% static 'sgn2/js/collapse.js' %}"></script>
<script src="{% static 'sgn2/js/containerToggle.js' %}"></script>

{% endblock %}

